

.dashContent{
    background-color: #f8f8f8;
    height: 90vh;
    
}

.cardGestionClient{
    border-radius:20px ;
    background-color: #fff ;
    color: #000;
    width: 350px;
    


}


.AddClientBtn{
    background-color: #6415ff;
    color: #fff;
    border-radius:8.86px ;
    width: 100%;
}

.ListClientBtn{
    background-color: #6415ff;
    color: #fff;
    border-radius:8.86px ;
    width: 100%;
}

/* 
@media (min-width: 576px) { 
    .divContenu {
        display: flex;

      }
      
 } */













 