<navbar></navbar>

<div class="container-fluid dashContent row mx-auto">
    <div class="divContenu container-fluid d-flex divContenu" >
        <div class="col-md-8 mt-4" style="height: 93%; border-radius: 12px;">
            <router-outlet></router-outlet> 
                   
        </div>


        <div class="col-md-4 divGestionClient "  style="background-color: #f8f8f8;  display: flex; justify-content: center; align-items: flex-start; ">
            <div class="card cardGestionClient border-0  shadow p-3 mt-4  " >
                <div class="card-body">
                    <h4 class="card-title text-center MontserratB">Client Management</h4>
                    <div class="card-text py-2 px-1 " >
    
                        <div class=' text-center MontserratB mb-3'>
                            <button type='submit' class="btn btn-block py-2 AddClientBtn " (click)="addClient()" routerLinkActive="active"
                            >Add Client</button>
                        </div>
    
                        <div class=' text-center MontserratB mb-2'>
                            <button type='submit' class="btn btn-block py-2 botton ListClientBtn " (click)="listClient()" routerLinkActive="active">
                                Clients List</button>
                        </div>   
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
