<div class="m-0 p-0 row" style="height:100vh; background-color: #6415ff;">
    <div class="col-md-12 d-flex " style=" align-items: center; justify-content: center;">
        <div class="d-block " style="justify-content: center; color: #fff;">
            <div class="mb-4 text-center"><img  src="assets/svg/NotFound.svg" style="height: 100px;" ></div>

            <div class="div LatoB mb-3" style="font-size: x-large;" >Page Not Found</div>

            <div class=' text-center MontserratB mb-3'>
                <button type='submit' class="btn btn-block py-2 returnHome "  routerLink="/dash"
                >Go Home</button>
            </div>
        </div>
    </div>
</div>