<div class="div m-0 p-0 addClientScroll scrollbar scrollbar-indigo bordered-indigo" style=" height: 84vh; background-color:'';   display: flex; justify-content: center; align-items: flex-start;">
    <div class="container-fluid m-0 p-0" >
                 <div class="card border-0  shadow px-1  " style="border-radius: 12px;">
                    <form (submit)="SubmitUpdate()">
                     <div class="card-body">
                         <!-- <h1 class="card-title text-center MontserratB" style="color:#6415FF">Ajouter un client</h1> -->
                         
                         <p class="card-title text-left MontserratM" style="color:#6415FF">Personal information</p>  
                         <hr style="color:#6415FF"/>
                         <div class="card-text py-2" >
 
                             <div class=" " style=" align-items: center; justify-content:space-between " >
                                             <div class=" row g-2 mb-4 ">
                                                 <div class="form-floating col-md-6  ">
                                                 <input type='text' [(ngModel)]="client.firstName" name="firstName" [value]="client.firstName" class='form-control m-0' placeholder='Nom' style="border-radius:20px; background-color:#F8F8F8"/>
                                                 <label class='Montserrat' style="color:#242846">First Name *</label>
                                                 </div>

                                               
                         
                                                 <div class="form-floating col-md-6">
                                                 <input type='text' [(ngModel)]="client.lastName" name="lastName" [value]="client.lastName" class='form-control' 
                                                 placeholder='Prénom' style="border-radius:20px; background-color:#F8F8F8;"/>
                                                 <label class='Montserrat' style="color:#242846">Last Name *</label>
                                                 </div>
                                                 
                                                
  
                                         
                                             </div>
 
                                            
 
                                             <div class="row g-2 mb-4">

                                                <div class="form-floating col-md-6">
                                                    <input type='date' class='form-control'  [(ngModel)]="client.birthDate" name="birthDate" 
                                                    placeholder='Date de naissance' style="border-radius:20px; background-color:#F8F8F8;"/>
                                                    <label class='Montserrat' style="color:#242846">Date de naissance *</label>
                                                    </div>
                                                
                                                    <div class="form-floating col-md-6  ">
                                                    <input type='text' [(ngModel)]="client.cin" name="Cin"  [value]="client.cin" class='form-control ' placeholder='Nom' style="border-radius:20px; background-color:#F8F8F8" required="true"/>
                                                    <label class='Montserrat' style="color:#242846">Cin *</label>
                                                    </div>
                                                 
                                             </div>

                                             <div class=" row g-2 mb-4 ">
                                                <div class="form-floating col-md-6">
                                                    <input  type='number' [(ngModel)]="client.phoneNumber" name="phoneNumber" [value]="client.phoneNumber"  class='form-control' 
                                                    placeholder='Numéro de téléphone' style="border-radius:20px; background-color:#F8F8F8;" required="true"/>
                                                    <label class='Montserrat' style="color:#242846">Phone number *</label>
                                                    </div>

                                                    <div class="form-floating col-md-6  ">
                                                    <input  type='Email' [(ngModel)]="client.email" name="email" [value]="client.email"  class='form-control ' placeholder='Nom' style="border-radius:20px; background-color:#F8F8F8" required="true"/>
                                                    <label class='Montserrat' style="color:#242846">Email *</label>
                                                    </div>
                                                </div>
 
                                             <div class=" row g-2 mb-4 ">
                                                 
                         
                                               

                                                 <div class="form-floating col-md-12">
                                                    <input  type='text' [(ngModel)]="client.address" name="address" [value]="client.address" class='form-control' 
                                                    placeholder="Adresse" style="border-radius:20px; background-color:#F8F8F8;" required="true"/>
                                                    <label class='Montserrat' style="color:#242846">Address *</label>
                                                    </div>
                                         
                                             </div>
\
 
                                             
                             </div>
                         </div>
                        
                        
                     
 
                         <button  class="btn btn-block py-2 container-fluid " type="submit"
                         style="background-color:#242846; color:#fff; border-radius:20px; cursor:pointer" >
                         <span class='Montserrat' style="color:white">Update Client</span></button>
                     </div>
                    </form>
                 </div>
     </div>
 </div>