<div class="background-image">
    <div class="row  mx-auto d-flex ">
        <div class="col-md-7 divGaucheLogin d-none d-md-flex" style=" height: 100vh; display: flex; justify-content: center; align-items: center; ">
        </div>
        <div class="col-md-5 BgcardLogin d-flex" style=" background-color: ''; justify-content: center; align-items: center; height: 100vh;" >
            <div class="div">
                <div class="card cardLogo   shadow p-3   " >
                    <div class="card-body">
                    
                        <div class="card-text p-3 px-1 text-center" >
                            <img src="assets/svg/LogoV2.svg" height="80px">
                        </div>
                    
                    </div>
                </div>
                <div class="card cardLogin border-0  shadow p-3   " >
                    <div class="card-body">
                    
                        <div class="card-text p-3 px-1 " >
                            <form  >
                                <div class=' text-center MontserratB my-2'>
                                    <button type="submit"  class="btn btn-block py-2 botton " (click)="goToAgentEspace()"
                                    >Espace agent</button>
                                </div>
    
                                <div class=' text-center MontserratB'>
                                    <button type="submit"  class="btn btn-block py-2 botton " (click)="goToClientEspace()"
                                    >Espace client</button>
                                </div>
                            </form>
                        </div>
                    
                    </div>
                </div>
            </div>
            
         </div>

    </div>
</div>



