button{
    background-color: #6415FF;
    /* border: 1px solid #181C2E; */
    border: none;
    margin-left: 1rem;
}
.annuler{
    background-color: #E22B27;
}

.backChangePsw{
    background: rgb(100,21,255);
    background: linear-gradient(45deg, #6415ff 20%, #181c2e 100%);
}
