<div class="otp-sms container shadow">
  <h3>Verification</h3>
  <p>Please enter the verification code sent to: {{ phoneNumber }}</p>

  <ng-container *ngIf="isLoading; else otpFormTemplate">
    <div class="text-center">
      <fa-icon icon="spinner"></fa-icon>
      <p>Verifying...</p>
    </div>
  </ng-container>

  <ng-template #otpFormTemplate>
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="text" id="otp" formControlName="otp" class="form-control">
      </div>

      <button id="btn" type="submit" [disabled]="!otpForm.valid" class="btn btn-primary">Confirm the Payment</button>
    </form>
  </ng-template>
</div>
