<div class="otp-sms container shadow">
    <h3>Verification</h3>
    <p>Merci d'entrer le code envoye a : {{ phoneNumber }}</p>
  
    <form [formGroup]="otpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <!-- <label for="otp">OTP:</label> -->
        <input type="text" id="otp" formControlName="otp" class="form-control">
      </div>
  
      <button routerLink="/" id="btn" type="submit" [disabled]="!otpForm.valid" class="btn btn-primary">Confirmer le Payement</button>
    </form>
</div>
  