
<body class="container-8">

    <section  class="menu ml-auto col-3 left-side">

        <!-- Compte -->
        <a routerLink="/account">
                <div class="menu-element">
                    <fa-icon icon="user-circle"></fa-icon>
                    <span>Account</span>
                </div>

        </a>

        <!-- Payment -->
        <a routerLink="/payment">
            <div class="menu-element">
                <fa-icon icon="exchange-alt"></fa-icon>
                <span>Recharge & Bill</span>
            </div>
        </a>
        <!-- Store -->
        <a routerLink="/product-list">
            <div class="menu-element">
                <fa-icon icon="exchange-alt"></fa-icon>
                <span>Store</span>
            </div>
        </a>
        
    
        <!-- Settings -->
        <a routerLink="/settings">
            <div class="menu-element">
                <fa-icon icon="cog"></fa-icon>
                <span>Settings</span>
            </div>
        </a>
            
        
    </section>
    
    <section class="col-9 right-side" >
        <app-amount class="amount"></app-amount>
        <app-payment-list></app-payment-list>
        
        <!-- <app-history></app-history> -->
    </section>
    
</body>
