<div class=" cnt container rounded mt-5">
  <h3 class="">
    <fa-icon icon="history"></fa-icon>
    DERNIÈRES OPÉRATIONS
  </h3>

  <table class="rounded"> 
    <thead>
      <tr>
        <th>Paiment ID</th>
        <th>Créditeur</th>
        <th>Montant</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.transactionId }}</td>
        <td>{{ payment.creditor }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.date }}</td>
      </tr>
      
    </tbody>
  </table>

</div>
