<div class=" cnt container shadow rounded mt-5">
  <h3 class="">Payment History</h3>

  <table class="rounded">
    <thead>
      <tr>
        <th>Payment ID</th>
        <th>Creditor</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let payment of payments">
        <td>{{ payment.transactionId }}</td>
        <td>{{ payment.creditor }}</td>
        <td>{{ payment.amount }}</td>
        <td>{{ payment.date }}</td>
      </tr>
      
    </tbody>
  </table>

</div>
