.cnt{
  /* max-width:80%; */
  margin-right: 4rem;
}

h3 {
  margin-left: 6px;
    color:  #6415FF;;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  